.home__browser {
  width: 80%;
  margin: 0 auto;
}

.home__browser--pagination {
  padding: 30px 0px;
}

.home__browser--cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  box-sizing: border-box;
}
