.categoryButton {
  background-color: var(--lightgrey-color);
  border: 0;
  display: inline-block;
  cursor: pointer;
  color: grey;
  font-size: var(--medium-size);
  padding: 10px 40px;
  text-decoration: none;
}

.categoryButton:hover {
  background-color: var(--secondayLight-color);
  color: white;
}

.categoryButtonActive {
  background-color: var(--secondayLight-color);
  border: 0;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: var(--medium-size);
  padding: 10px 40px;
  text-decoration: underline;
}
