.home__notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__notfound--error {
  color: grey;
  font-size: var(--large-size);
  margin: 2rem 0;
}
