.home__categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  width: 80%;
}

.home__counter {
  align-self: flex-start;
  margin-top: 2rem 0;
}

.home__counter--info {
  color: grey;
  font-size: var(--medium-size);
}

.home__categories--split {
  border-top: 1px solid var(--lightgrey-color);
  width: 100%;
}
