.inputSearch {
  width: 100%;
  height: 48px;
  font-size: max(var(--medium-size), 1em);
  padding: 0.25em 0.5em;
  background-color: white;
  border: 2px solid var(--lightgrey-color);
  border-radius: 4px;
  outline: none;
}

.inputSearch:focus {
  border: 2px solid var(--primary-color);
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
