* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1cb954;
  --secondary-color: #18ab29;
  --secondayLight-color: #44c767;
  --lightgrey-color: rgb(221, 221, 221);
  --bigger-size: 3rem;
  --big-size: 1.3rem;
  --large-size: 1.1rem;
  --medium-size: 1rem;
  --small-size: 0.85rem;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: white;
  font-family: "Helvetica Neue", -apple-system, system-ui, Arial, sans-serif;
  font-size: var(--big-size);
  color: black;
}
