.home__search--top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home__search--inputContainer {
  width: 100%;
  padding-right: 10px;
}

.home__search {
  width: 50%;
}

.home__search--error {
  color: red;
  font-size: var(--medium-size);
}

@media screen and (max-width: 769px) {
  .home__search--top {
    flex-direction: column;
  }

  .home__search--inputContainer {
    padding-bottom: 20px;
  }

  .home__search {
    width: 75%;
  }
}
